<!DOCTYPE html>
<html>
    <head>
        <title>Terms and Service</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <script>let serverVisitorId = '{{ visitor_id }}';</script>
        <style>
            .subtitle {
                font-weight: bold;
                font-size: 1.25rem;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }

            .underline {
                text-decoration: underline;
            }
        </style>

    </head>
    <body>
        <div id="header-b"></div>

        <div id="load-donate-popup-b" style="display: none;"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center my-4">Terms and Service</h1>

                    <p class="subtitle">Terms and Service (‘Terms’)</p>
                    <p>Our Terms and Service was last updated on 20/05/2023</p>
                    <p>Please read these Terms and Service carefully before using Jointhepipe-foundation.org</p>

                    <p class="subtitle">Interpretation and Definitions</p>
                    <p>Several words of which the initial letter is capitalized have meanings defined under the following conditions. These words shall have the same meaning regardless of whether they appear in singular or plural. </p>

                    <p class="subtitle">Definitions</p>
                    <p>For this Terms and Service: </p>
                    <ul>
                        <li>‘Affiliate’ means an entity that controls, is controlled by or is under common with a party.</li>
                        <li>‘Company’ (referred to as ‘the Company’, ‘We’, ‘Us’, or ‘Our’ in this Terms and Service) refers to Join the Pipe Foundation.</li>
                        <li>‘Country’ refers to the Netherlands. </li>
                        <li>‘Device’ means any device that can access Jointhepipe-foundation.org such as computer, cell phone, or tablet.</li>
                        <li>‘Feedback’ means Feedback or Suggestions sent by You regarding the Performance or Features of Jointhepipe-foundation.org</li>
                        <li>‘Service’ refers to Jointhepipe-foundation.org</li>
                        <li>‘Terms and Service’ means these Terms and Service that form the entire agreement between You and Join the Pipe Foundation regarding the usage of Jointhepipe-foudation.org</li>
                        <li>‘Third-party Service’ means any Service or Content (including Data, Information, Products or Services) provided by a Third-party that may be displayed or included on Jointhepipe-foundation.org</li>
                        <li>‘Website’ refers to Join the Pipe Foundation, accessible from Jointhepipe-foundation.org</li>
                        <li>‘You’ means the individual accessing Jointhepipe-foundation.org</li>
                    </ul>

                    <p class="subtitle">Acknowledgement</p>
                    <p>These are the Terms and Services ruling the usage of Jointhepipe-foundation.org and the agreement that functions between You and the Company. The Terms and Services outline the responsibilities for all users using the Service.</p>
                    <p>Your access and usage of the Service states You agree to and accept these Terms and Services. These Terms and Services apply to each and every user, visitor, or others that use or access this Service. If you disagree with any part within this Terms and Services, then You cannot access this Service.</p>
                    <p>You represent that you are over the age of 16. The Company does not permit individuals under the age of 16 to use this Service without prior consent from their parents or guardians.</p>
                    <p>Your access to and usage of this Service is dependent on Your acceptance of our Privacy Policy. Please carefully read our <a href="{{ url_for('privacy_b') }}">Privacy Policy</a> before using this Service.</p>

                    <p class="subtitle">Copyright Policy</p>
                    <p class="subtitle">Intellectual Property Infringement</p>
                    <p>Join the Pipe Foundation respects the intellectual property of others. It is our policy to respond to any claim that content posted on the Service infringes a copyright or other intellectual property infringement of any individual.</p>
                    <p>If you are a copyright owner, or authorized on behalf of one, and You believe that the copyright work has been copied on this Service, that copyright infringes, you must submit Your notice in writing to our attention through the email address info@jointhepipe.com. Upon receiving the notice, the Company will take whatever action is required, in its sole discretion, that it sees appropriate, including the removal of the questionable content from the Service.</p>
                    <p>For misrepresenting that Content copyright infringes, you might be held accountable for damages.</p>

                    <p class="subtitle">Intellectual Property</p>
                    <p>The Service and its original content, features, and functionality will remain exclusive property of the Company. Our Content may not be used in connection with any product or service without the prior written consent of the Company.</p>

                    <p class="subtitle">Links To Other Websites</p>
                    <p>Our Service might contain links to third-party websites or services that are not owned or controlled by the Company.</p>
                    <p>The Company has no control, responsibility of, for the content, and privacy policies of any third-party websites or services. As a user, you acknowledge and agree that the Company shall not be held responsible for any direct or indirect damage that occurs in connection with any third-party websites or services.</p>
                    <p>We advise you to carefully read any third-party websites or services’ Terms and Conditions and Privacy Policy.</p>

                    <p class="subtitle">Governing Law </p>
                    <p>The laws of the Country shall govern these Terms and Services and Your usage of this Service. Your usage of this Service might be subject to other international laws.</p>

                    <p class="subtitle">Disputed Resolution</p>
                    <p>If You have any concerns or challenges about this Service, You agree to first try to resolve the dispute by contacting the Company.</p>

                    <p class="subtitle">Severability</p>
                    <p>If any part of these Terms and Services is held to be unenforceable or invalid, these parts shall be changed to interpret the accomplished objectives under the laws of the Country and will continue to remain in full force and effect.</p>

                    <p class="subtitle">Changes to These Terms and Services</p>
                    <p>We reserve the right, at Our sole discretion, to adjust or modify these Terms and Services at any time. If a revision is set to go into effect, reasonable effort will be made to provide notice of any Terms and Conditions. The Company establishes what a material change will be determined at our Sole discretion.</p>
                    <p>If You continue to the usage and access of this Service after the revised Terms and Services become effective, You agree to the revised Terms and Conditions. If You do not agree to the revised Terms and Conditions, please cease the usage of this Service.</p>

                    <p class="subtitle">Contact Us </p>
                    <p>If You have any questions about this Terms and Services, please contact us:</p>
                    <ul>
                        <li>Visiting the page on our website: <a href="{{ url_for('t_s_b') }}">Terms and Services</a></li>
                        <li>By sending us an email: info@jointhepipe.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="separator"></div>
        <div id="footer-b"></div>
        <script src="{{ url_for('static', filename='js/script_b.js') }}"></script>
        <div id="load-privacy-banner-b"></div>
    </body>
</html>